@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'poppins', sans-serif;
    color: black;
    background-color: white;
}

.topAnimeNav, .seasonAnime, .topNav, .videosAnime, .reviewsAnime, .recommendationsAnime{
    overflow: hidden;
    background-color: #333;
}

.topAnimeNav a, .seasonAnime a, .topNav a, .videosAnime a,.reviewsAnime a, .recommendationsAnime a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topNav a:hover, .subnav:hover, .subnavbtn {
    background-color: gray;
}

.topAnimeNav a:hover, .seasonAnime a:hover, .videosAnime a:hover, .reviewsAnime a:hover, .recommendationsAnime a:hover {
    background-color: gray;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subnavContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.subnavContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.subnavContent a:hover {
    background-color: #ddd;
}

.subnav:hover .subnavContent {
    display: block;
}


#content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    width: 100%;
}
div{
    display: block;
}
#content {
    background-color: #fff;
    border-color: darkgrey;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 5px 10px 10px;
    position: relative;
}

article {
    display: block;
}
.title{
    color: hotpink;
}
.social a {
    font-size: 4.5rem;
    padding: 3rem;
}

.fa-facebook {
    color: darkblue;
}

.fa-twitter {
    color: cornflowerblue;
}

.fa-google-plus-g {
    color: red;
}

.fa-instagram {
    color: blueviolet;
}

.fa-youtube {
    color: red;
}

.fa-youtube:hover, .fa-instagram:hover, .fa-google-plus-g:hover, .fa-twitter:hover, .fa-facebook:hover {
    color: darkgrey;
}
footer {
    display: block;
}

footer {
    background-color: black;
    color: lightgray;
    padding-top: 2rem;
}

.footer-link-block a {
    color:whitesmoke;
}
h1{
    float: right;
}